/* Pat Ausman */
/* style.css Sept 2019 */
/* styles used in assignment 2 */
body             { 
    color: #000; 
    background: #f7f7f7;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: large;
  
}


[v-cloak] {
    display: none
}

ul {
    
    list-style-type: none;
   }
/* from w3schools.com */
 .column {
    flex: 50%;
    padding: 5px;
  }

  .row {
    display: flex;
  }

  /* new html5 figure and figcaption */
  figure {

    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: blue;
    border: thin silver solid;
  
  }

   