<!doctype html>
<html lang='en'>

<head>

    <title>Project 1</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- external css file -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <!-- external css file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

    <h1>Prisoner's Dilemma Game</h1>
    <div id='app' v-cloak class="jumbotron">

        <div class="container">
            <div v-if="showIntro">
                The prisoner's dilemma is a standard example of a game analyzed in game theory that shows why two
                completely
                rational individuals might not cooperate, even if it appears that it is in their best interests to do
                so. It
                was originally framed by Merrill Flood and Melvin Dresher while working at RAND in 1950.
                <button id='playBtn' @click='playGame'>I want to Play!</button>
                <button id='noplayBtn' @click='endGame'>No Thanks!</button>
            </div>
            <br>
            <div v-if="sayGoodbye">Thank you for coming!</div>

            <div class="container border border-primary" v-if="showGame">
                <ul>
                    <li>You and Jane are robbers that are arrested while waiting across the street from a bank that you
                        planned
                        to rob that night.</li>
                    <li>You are separated from Jane and have no means of communicating with her.</li>
                    <li>Law enforcement lack sufficient evidence to convict you both on the charge of roberry, but they
                        have enough to convict both on a lesser charge of lottering. </li>
                    <li>Simultaneously, the detectives offer each of you a bargain: You are given the opportunity either
                        to betray the other by testifying that the other
                        committed the crime, or to cooperate with the other by remaining silent. </li><br>
                    <li>The result of any choice you make are:</li>
                    <ul>
                        <li>If both of you betray the other, each of you will serve six years in prison</li>

                        <li>If you betray the Jane but Jane remains silent, you will be set free and Jane will serve
                            three years in prison</li>
                        <li>If Jane betrays you but you remain silent, Jane will be set free and you will serve three
                            years in prison</li>
                        <li>If both of you remain silent, both of you will serve only one year in prison on the lesser
                            charge of lottering.</li>
                    </ul>
                    <p>
                        What do you want to do?
                    </p>

                    <div>
                        <label><input type='radio' name='userChoice' value='Betray' v-model='userChoice' /> Betray
                            Jane</label><br>
                        <label><input type='radio' name='userChoice' value='Silent' v-model='userChoice' /> Stay
                            quiet</label>
                    </div>
                    <button id='choiceBtn' @click='runSim' class="btn btn-primary btn-lg">Choose!</button>


                </ul>
            </div>
            <div class="container border border-primary" v-if="showVerdict">
                {{verdict}}
            </div>
        </div>
    </div>
</body>

</html>