#taj {

    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h1 {
  text-align: center;
}
body {
  text-align: center;
  background-color: #FFFDD0; 
  font-size: 24px;
}
#highlight {
  display:inline;
  background-color: rgb(201, 76, 76);
  font-size: 32px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.dog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

form {
  text-align: left;
}

label {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

input[type=tel]{
  font-size: 1.5rem;
}
input[type=text],
textarea {
  font-size: 1.6rem;
  padding: 5px;
  width: 75%;
  
}


small {
  font-size: 1.0 rem;
  color:
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.form-error {
  color:orange;
}

.form-input {
  color: purple;
}



